.button{
    font-size: 2rem;
    text-shadow: black 1px 0 5px;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    text-align: center;
    text-decoration: none;
    
    &--icon{
        padding: 0.25rem;
        background-size: contain;
        background-image: image-set(url(/src/assets/images/scribble-icon.png?width=70&quality=75) 1x, url(/src/assets/images/scribble-icon.png?width=70) 2x);
    }

    &--bigger{
        width: 3rem;
    }

    &--pink{
        background-size: contain;
        background-image: image-set(url(/src/assets/images/pink1.png?width=400&quality=75) 1x, url(/src/assets/images/pink1.png?width=400) 2x);

        &:hover{
            background-image: image-set(url(/src/assets/images/pink1-2.png?width=400&quality=75) 1x, url(/src/assets/images/pink1-2.png?width=400) 2x);
            animation: shadow_change 1s infinite alternate;
            color: $pink;
        }
    }

    &--yellow{
        background-size: contain;
        background-image: image-set(url(/src/assets/images/yellow1.png?width=400&quality=75) 1x, url(/src/assets/images/yellow1.png?width=400) 2x);

        &:hover{
            background-image: image-set(url(/src/assets/images/yellow1-2.png?width=400&quality=75) 1x, url(/src/assets/images/yellow1-2.png?width=400) 2x);
            animation: shadow_change 1s infinite alternate;
            color: $yellow;
        }
    }

    &--green{
        background-size: contain;
        background-image: image-set(url(/src/assets/images/green1.png?width=400&quality=75) 1x, url(/src/assets/images/green1.png?width=400) 2x);

        &:hover{
            background-image: image-set(url(/src/assets/images/green1-2.png?width=400&quality=75) 1x, url(/src/assets/images/green1-2.png?width=400) 2x);
            animation: shadow_change 1s infinite alternate;
            color: $green;
        }
    }
}

.button-labeled {
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    gap: 0.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: $gray;
    font-size: 1.5rem; 

    &:hover{
        background-image: image-set(url(/src/assets/images/scribble1.png?width=400&quality=75) 1x, url(/src/assets/images/scribble1.png?width=400) 2x);
    }
}

@keyframes shadow_change {
    to { 
        text-shadow: white 1px 0 5px;
        color: white;
    }
}
