<section class="section">
    <h3 class="section_title">Imágenes</h3>
    <div class="slider">
      <div class="keen-slider" id="slider-imagenes">
        <div class="card keen-slider__slide">
            <picture>
                <source type="image/webp" srcset="./assets/images/episodios/carrusel/1.jpg?as=webp&quality=50&width=350, ./assets/images/episodios/carrusel/1.jpg?as=webp&width=350 2x">
                <img loading="lazy"  class="card__image card__image--horizontal" srcset="./assets/images/episodios/carrusel/1.jpg?quality=50&width=350, ./assets/images/episodios/carrusel/1.jpg?width=350 2x" alt="imagen episodio"></img>
            </picture>
        </div>
        <div class="card keen-slider__slide">
            <picture>
                <source type="image/webp" srcset="./assets/images/episodios/carrusel/2.jpg?as=webp&quality=50&width=350, ./assets/images/episodios/carrusel/2.jpg?as=webp&width=350 2x">
                <img loading="lazy" class="card__image card__image--horizontal" srcset="./assets/images/episodios/carrusel/2.jpg?quality=50&width=350, ./assets/images/episodios/carrusel/2.jpg?width=350 2x" alt="imagen episodio"></img>
            </picture>
        </div>
        <div class="card keen-slider__slide">
            <picture>
                <source type="image/webp" srcset="./assets/images/episodios/carrusel/3.jpg?as=webp&quality=50&width=350, ./assets/images/episodios/carrusel/3.jpg?as=webp&width=350 2x">
                <img loading="lazy" class="card__image card__image--horizontal" srcset="./assets/images/episodios/carrusel/3.jpg?quality=50&width=350, ./assets/images/episodios/carrusel/3.jpg?width=350 2x" alt="imagen episodio"></img>
            </picture>
        </div>
        <div class="card keen-slider__slide">
            <picture>
                <source type="image/webp" srcset="./assets/images/episodios/carrusel/4.jpg?as=webp&quality=50&width=350, ./assets/images/episodios/carrusel/4.jpg?as=webp&width=350 2x">
                <img loading="lazy" class="card__image card__image--horizontal" srcset="./assets/images/episodios/carrusel/4.jpg?quality=50&width=350, ./assets/images/episodios/carrusel/4.jpg?width=350 2x" alt="imagen episodio"></img>
            </picture>
        </div>
      </div>
      <button id="slider-imagenes-prev" class="button button--icon slider__button slider__button--prev">
        <i data-feather="arrow-left"></i>
      </button>
      <button id="slider-imagenes-next" class="button button--icon slider__button slider__button--next">
        <i data-feather="arrow-right"></i>
      </button>
    </div>
  </section>