<footer class="footer">
    <svg class="logo_svg">
        <use xlink:href="./assets/images/sign-language.svg#hand-icon"></use>
    </svg>
    <picture>
        <source type="image/webp" srcset="./assets/images/flower.png?as=webp&width=100">
        <img width="5rem" height="15rem" class="footer_left" id="flower" src="/src/assets/images/flower.png?width=100">
    </picture>
    <picture>
        <source type="image/webp" srcset="./assets/images/alien.png?as=webp&width=100">
        <img width="5rem" height="15rem" class="footer_right" id="alien" src="/src/assets/images/alien.png?width=00">
    </picture>
    <p>Una serie de Javier Ambrossi & Javier Calvo para Movistar Plus+</p>
    <ul class="footer_nav">
        <li><a class="link link--green" href="./episodios.html">Episodios</a></li>
        <li><a class="link link--yellow" href="./sobre_la_serie.html">Sobre la serie</a></li>
        <li><a class="link link--pink" href="./enlaces.html">Enlaces</a></li>
    </ul>
    <hr>
    <p>Ejercicio realizado dentro del marco de la asignatura Herramientas</p>
    <p>HTML y CSS del Máster en Desarrollo de Sitios y Aplicaciones Web</p>
    <p>josu-garralda</p>
</footer>