<header class="header">
    
    <a class="button header_logo logo" href="./index.html">
        <svg class="logo_svg">
            <use xlink:href="./assets/images/sign-language.svg#hand-icon"></use>
        </svg>
        <h1 class="logo_title"> la Mesías </h1>
    </a>
    <nav>
        <ul class="nav header_nav">
            <li><a class="button button--green nav__desktop" href="./episodios.html">Episodios</a></li>
            <li><a class="button button--yellow nav__desktop" href="./sobre_la_serie.html">Sobre la serie</a></li>
            <li><a class="button button--pink nav__desktop" href="./enlaces.html">Enlaces</a></li>
            <li><button class="button button--icon button--bigger nav__mobile" id="menu" state="closed"><i data-feather="menu"></i></button></li>
        </ul>
        <ul class="nav nav__full nav__full--hidden card card--opaque" id="menu-full">
            <li><a class="button button--green" href="./episodios.html">Episodios</a></li>
            <li><a class="button button--yellow" href="./sobre_la_serie.html">Sobre la serie</a></li>
            <li><a class="button button--pink" href="./enlaces.html">Enlaces</a></li>
        </ul>
    </nav>
</header>
