.footer{
    padding: 2rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 6rem;

    @media screen and (min-width: $screen-sm-min) {
        margin-bottom: 0;
    }

    &_nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    &_left{
        position: fixed;
        width: calc(4rem + 3vw);
        max-width: 7rem;
        height: auto;
        bottom:1rem;
        left: 0rem; 
        z-index:400;

        @media screen and (min-width: $screen-md-min) {
            left: 1rem;
        }
    }

    &_right{
        position: fixed;
        width: calc(4rem + 5vw);
        height: auto;
        bottom:1rem;
        right: 0.4rem; 
        z-index: 400;
    }
}