.header{
    position: sticky;
    top: 0rem;
    left: 0rem;
    z-index: 100;
    width: 100%;
    text-shadow: black 1px 0 5px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;

    @media screen and (min-width: $screen-md-min) {
        align-items: flex-start;
    }
    @media screen and (min-width: $screen-lg-min) {
        align-items: center;
    }

    &_logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: min(calc(2rem + 3vw), 5rem);
        line-height: min(calc(2rem + 3vw), 5rem);
        background-image: image-set(url(/src/assets/images/scribble1-2.png?width=100&quality=75) 1x, url(/src/assets/images/scribble1-2.png?width=200) 2x);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: 300;

        &:hover{
            background-image: image-set(url(/src/assets/images/scribble1.png?width=100&quality=75) 1x, url(/src/assets/images/scribble1.png?width=200) 2x);
        }
    }

}

.logo{

    &_svg{
        fill: white;
        filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
        width: min(calc(1.5rem + 6vw), 4rem);
        aspect-ratio: 7 / 10;
    }

    &_title{
        flex-shrink: 0;
        font-size: min(calc(2rem + 3vw), 5rem);
        line-height: min(calc(2rem + 3vw), 5rem);
    }
}



