.header{
    position: sticky;
    top: 0rem;
    left: 0rem;
    z-index: 100;
    width: 100%;
    text-shadow: black 1px 0 5px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    //backdrop-filter: blur(1px);

    @media screen and (min-width: $screen-md-min) {
        align-items: flex-start;
    }
    @media screen and (min-width: $screen-lg-min) {
        align-items: center;
    }

    &_logo{
        
        font-size: min(calc(1.5rem + 6vw), 5rem);
        line-height: min(calc(1.5rem + 6vw), 5rem);
        background-image: url("/src/assets/images/scribble1-2.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: 300;

        &:hover{
            background-image: url("/src/assets/images/scribble1.png");
        }
    }
}
