.cross-clip-animation { 
    animation: clip 10s infinite
}
    
@keyframes clip {
    0% {
        clip-path: polygon(0 6%, 23% 28%, 2% 0, 96% 0, 79% 27%, 100% 2%, 100% 95%, 78% 78%, 99% 100%, 1% 100%, 21% 75%, 0 99%);
    }
    16% {
        clip-path: polygon(0 18%, 27% 27%, 17% 0, 88% 0, 74% 27%, 100% 16%, 100% 81%, 72% 75%, 89% 100%, 11% 100%, 28% 75%, 0 84%);
    }
    34% {
        clip-path: polygon(1% 22%, 26% 32%, 25% 0, 77% 0, 74% 30%, 100% 21%, 100% 72%, 75% 71%, 89% 100%, 23% 100%, 27% 66%, 0 73%);
    }
    50% {
        clip-path: polygon(0 32%, 26% 32%, 26% 0, 74% 0, 74% 30%, 100% 29%, 100% 70%, 75% 71%, 75% 100%, 26% 100%, 27% 66%, 0 66%);
    }
    64% {
        clip-path: polygon(1% 22%, 26% 32%, 25% 0, 77% 0, 74% 30%, 100% 21%, 100% 72%, 75% 71%, 89% 100%, 23% 100%, 27% 66%, 0 73%);
    }
    82% {
        clip-path: polygon(0 18%, 27% 27%, 17% 0, 88% 0, 74% 27%, 100% 16%, 100% 81%, 72% 75%, 89% 100%, 11% 100%, 28% 75%, 0 84%);
    }
    100% {
        clip-path: polygon(0 6%, 23% 28%, 2% 0, 96% 0, 79% 27%, 100% 2%, 100% 95%, 78% 78%, 99% 100%, 1% 100%, 21% 75%, 0 99%);
    }
    
}