// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

$background: #0e0f10;
$white: #fdfdfd;
$gray: rgba(150, 150, 150, 0.2);
$black: rgb(24, 24, 24);
$green: #2d5d26;
$yellow: #bcb245;
$pink: #c64668;
$orange: #ef9443;

$title-font: 'DM Serif Display', serif;
$text-font: Taviraj, sans-serif;


